*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
#banner-section{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    
}
.banner{
    text-align: center;
    padding: 150px;
    background-image: linear-gradient(#ffffff1f ,#00000091,#000000f2);
 }
.heading{
    
    font-size: 90px;
}
.heading2{
    font-size: 25px;
    margin-bottom: 40px;
    
}

.link-btn{
    text-decoration: none;
    border:3px solid #FF5959;
    background-color: #FF5959;
    color:white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;    
}



#donate-section{
    margin: 50px;  
}
h2{
    font-size: 45px;
}
.donate{
    text-align: center;
    height: 400px;
    padding-top: 70px;
}

.money{
    justify-content: center;
    display: flex;
    text-align: center; 
    font-weight: bold;
    font-size: 25px;
    color: #707070
}
.m1{
    border:1px solid #fafafa;
    padding:45px 45px;
    background-color: #fafafa;
    margin:10px;
}
#m2{
    border:2px solid red;
    border-radius: 5px;
    padding:45px 45px;
    background-color: rgb(236, 226, 226);
    color:red;
    margin:10px;
    
    
}
.form{
    text-align: center;
}
.input-field{
    width: 413px;
    height: 27px;
    text-align: center;
    border-color: #eeebeb;
    border:none;
    border-bottom: 1px solid rgb(185, 161, 161);
    padding: 25px;
}
.link-btn{
    align-items: center;
    justify-content: center;
}
.donate-plan{
    text-align: center;
    padding-top: 140px;
    
}
.plan-details{
    color:#707070;
    padding-bottom: 20px;
}
.container{
    display: flex;
    justify-content: center;
    
}
#div1{
    background-color: #EDF5F6 ;
    width: 360px;
    height: 352px;
    margin: 0 15px;
}
#div2{
    background-color: #FFEEEE;
    width: 360px;
    height: 352px;
    margin: 0 15px;
}
#div3{
    background-color: #FFF4D6 ;
    width: 360px;
    height: 352px;  
    margin: 0 15px; 
}
.div1-body{
    padding-top: 100px;
    text-align: left;
    padding-left: 15px;    
}
#img-div{
    padding-top: 5px;
    padding-bottom: 30px;

}


#volunteer-section{
    text-align: center;
    
}
.head1{
    font-size: 50px;
}
.volunteer-hero{
    padding-top: 40px;
    padding-bottom: 40px;
}
.sign-up-section{
    display: flex;
    justify-content: center;
}
.sign-up-form{
    background-color: #007CAF;
    height: 300px;
    width: 100%px;
    padding: 80px 10px;
    text-align: left;
    
}   
.h4-tag{
    color:white;
    font-size: 25px;
}
.p-tag{
    color: white;
}
.btn-style{
    color: white;
    background-color: red;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-bottom: 0px; 
}

#team-section{
    text-align: center;
    padding: 70px;
    
}

.input-area{
    background-color: #FFF4D6;
    height: 200px;
    width:709px;
    padding-top: 75px;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: inline-block;
}
.div-input{
    
}
.team-title{
    font-size: 44px;
    padding-bottom: 35px;
}
.team-contact{
    padding-bottom: 40px;
}
.email{
    background-color: #D9D9D9;
    border:none;
    padding: 15px;
    border-radius: 2px;
    width: 230px;
}
.btn{
    border-radius: 2px;
    padding: 15px;
    background-color: #FF5959;
    border:none;
    width: 150px;
}



/* footer starts from here */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
.footer-header{
    font-family: 'Lobster', cursive;
    padding-top: 35px;  
    color:red
}
/* footer ends here */
