*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto Slab', serif;
}
#help-section{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    
}
.help{
    text-align: center;
    height:600px;
    
 }
.heading{
    padding-top: 200px;
    padding-left:150px;
    font-size: 70px;
}
.heading2{
    font-size: 25px;
    margin-bottom: 40px;
    
}

.link-btn{
    text-decoration: none;
    border:3px solid #FF5959;
    background-color: #FF5959;
    color:white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;    
}



#donate-section{
    margin: 50px;  
}
h2{
    font-size: 45px;
}
.donate{
    text-align: center;
    height: 400px;
    padding-top: 70px;
}

.money{
    justify-content: center;
    display: flex;
    text-align: center; 
    font-weight: bold;
    font-size: 25px;
    color: #707070
}
.m1{
    border:1px solid #fafafa;
    padding:45px 45px;
    background-color: #fafafa;
    margin:10px;
}
#m2{
    border:2px solid red;
    border-radius: 5px;
    padding:45px 45px;
    background-color: rgb(236, 226, 226);
    color:red;
    margin:10px;
    
    
}
.form{
    align-items: center;
    padding: 0 262px;
}
.amount{
    color: rgb(199, 190, 172);
}

.donate-plan{
    text-align: center;
    padding-top: 70px;
    
}
.plan-details{
    color:#707070;
    padding-bottom: 20px;
}
.container{
    display: flex;
    justify-content: center;
    
}
#div1{
    background-color: #EDF5F6 ;
    width: 360px;
    height: 352px;
    margin: 0 15px;
}
#div2{
    background-color: #FFEEEE;
    width: 360px;
    height: 352px;
    margin: 0 15px;
}
#div3{
    background-color: #FFF4D6 ;
    width: 360px;
    height: 352px;  
    margin: 0 15px; 
}
.div1-body{
    padding-top: 100px;
    text-align: left;
    padding-left: 15px;    
}
.img-div{
    padding-top: 5px;
    padding-bottom: 30px;

}
.img-style{
      
}







footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
.footer-header{
    font-family: 'Lobster', cursive;
    padding-top: 15px;  
    color:red
}
